textarea {
  min-height: 400px;
}

.nread_view {
  background-color: #b8b8b8;
  background-color: #fefcfc;

  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
}

.sender {
  padding-right: 50px;
}

.timestamp {
  float: right;
}

.read_view {
  background-color: #fefcfc;
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.recipient {
  font-size: 10px;
}

#arch {
  font-size: 10px;
  float: right;
}
